{% load static %}
{% load flatpages %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="description" content="Konrados CodeCave">
    <meta name="author" content="Konrados">

    <title>{% block title %}Blog Konrada{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'blog/bootstrap/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'blog/font-awesome/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}">

    <script src="{% static 'blog//js/modernizrr.js' %}"></script>
</head>
<body>

<header class="clearfix">

    <!-- Start Top Bar -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="top-bar">
                    <div class="row">

                        <div class="col-md-6">
                            <!-- Start Contact Info -->
                            <ul class="contact-details">
                                <li><a href="#"><i class="fa fa-envelope-o"></i> gacuch@gmail.com</a>
                                </li>
                            </ul>
                            <!-- End Contact Info -->
                        </div><!-- .col-md-6 -->

                        <div class="col-md-6">
                            <!-- Start Social Links -->
                            <ul class="social-list">

                                <li>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>

                            </ul>
                            <!-- End Social Links -->
                        </div><!-- .col-md-6 -->
                    </div>


                </div>
            </div>

        </div><!-- .row -->
    </div><!-- .container -->
    <!-- End Top Bar -->

    <!-- Start  Logo & Naviagtion  -->
    <div class="navbar navbar-default navbar-top">
        <div class="container">
            <div class="navbar-header">
                <!-- Stat Toggle Nav Link For Mobiles -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <!-- End Toggle Nav Link For Mobiles -->
                <a class="navbar-brand" href="index.html">Nazwa Bloga</a>
            </div>
            <div class="navbar-collapse collapse">

                <!-- Start Navigation List -->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Strona główna</a></li>
                    {% for page in flatpages %}
                        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                </ul>
                <!-- End Navigation List -->
            </div>
        </div>
    </div>
    <!-- End Header Logo & Naviagtion -->

</header>

<!-- Start Header Section -->
<div class="page-header">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{% block page-tile %}Blog{% endblock %}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Header Section -->


<!-- Start Blog Page Section -->
<div class="container">
    <div class="row">

        <!-- Start Blog Body Section -->
        <div class="col-md-8 blog-body">

            {% block content %}{% endblock %}

            {% if is_paginated %}
                <!-- Start Pagination -->
                <nav>
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li><a href="?page=1" aria-label="Start">Początek</a></li>
                        {% else %}
                            <li class="disabled"><a href="#" aria-label="Start">Początek</a></li>
                        {% endif %}
                        {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous"><span
                                    class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a></li>
                        {% else %}
                            <li class="disabled"><a href="#" aria-label="Previous"><span
                                    class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a></li>
                        {% endif %}

                        {% for i in page_obj.paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="active"><a href="#">{{ i }}</a></li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}"><span
                                    class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
                        {% else %}
                            <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-right"
                                                                   aria-hidden="true"></span></a></li>
                        {% endif %}

                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.paginator.num_pages }}">Koniec</a></li>
                        {% else %}
                            <li class="disabled"><a href="#">Koniec</a></li>

                        {% endif %}
                    </ul>
                </nav>
                <!-- End Pagination -->
            {% endif %}


        </div>
        <!-- End Blog Body Section -->

        <!-- Start Sidebar Section -->
        <div class="col-md-4 sidebar right-sidebar">

            <!-- Start Recent Post Widget -->
            <div class="widget widget-recent-post">

                <div class="section-heading-2">
                    <h3 class="section-title">
                        <span>Najnowsze wpisy</span>
                    </h3>
                </div>

                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="asset/images/recent-post/post-02.jpg" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><a href="#">Nulla facilisi integer lacinia sollicitudin massa</a></h4>
                        <ul>
                            <li><a href="#">Super User</a></li>
                            <li>15 October 2014</li>
                        </ul>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="asset/images/recent-post/post-03.jpg" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><a href="#">Quisque cursus metus vitae pharetra auctor sem massa</a>
                        </h4>
                        <ul>
                            <li><a href="#">Super User</a></li>
                            <li>15 October 2014</li>
                        </ul>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="asset/images/recent-post/post-04.jpg" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><a href="#">Praesent libero sed cursus ante dapibus diam</a></h4>
                        <ul>
                            <li><a href="#">Super User</a></li>
                            <li>15 October 2014</li>
                        </ul>
                    </div>
                </div>

            </div>
            <!-- End Recent Post Widget -->


            <!-- Start Blog categories widget -->
            <div class="widget widget-categories">

                <div class="section-heading-2">
                    <h3 class="section-title">
                        <span>Blog Categories</span>
                    </h3>
                </div>

                <ul>
                    <li>
                        <i class="fa fa-angle-double-right"></i>
                        <a href="#">Blog</a>
                        <a href="#" class="cat-counter">(4)</a>
                    </li>
                    <li>
                        <i class="fa fa-angle-double-right"></i>
                        <a href="#">News</a>
                        <a href="#" class="cat-counter">(0)</a>
                    </li>
                    <li>
                        <i class="fa fa-angle-double-right"></i>
                        <a href="#">Charity</a>
                        <a href="#" class="cat-counter">(0)</a>
                    </li>
                    <li>
                        <i class="fa fa-angle-double-right"></i>
                        <a href="#">Fashion</a>
                        <a href="#" class="cat-counter">(0)</a>
                    </li>
                </ul>

            </div>
            <!-- End Blog categories widget -->


            <!-- Start Tag Cloud Widget -->
            <div class="widget widget-tags">

                <div class="section-heading-2">
                    <h3 class="section-title">
                        <span>Popular Tags</span>
                    </h3>
                </div>

                <div class="tagcloud">
                    <a href="#">Charity</a>
                    <a href="#">Children</a>
                    <a href="#">Education</a>
                    <a href="#">Elderly</a>
                    <a href="#">Humanity</a>
                    <a href="#">Women Rights</a>
                </div>

            </div>
            <!-- End Tag Cloud Widget -->


        </div>
        <!-- End Sidebar Section -->

    </div>
</div>
<!-- End Blog Page Section -->


<script src="{% static 'blog/js/jquery-2.1.3.min.js' %}"></script>
<script src="{% static 'blog/js/jquery-migrate-1.2.1.min.js' %}"></script>
<script src="{% static 'blog/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'blog/js/script.js' %}"></script>
</body>

</html>