{{ form.non_field_errors }}
<div class="row">
    <div class="col-md-4 form-group">
        {{ form.name.label_tag }}
        {{ form.name }}
    </div>
    <div class="col-md-4 form-group">
        {{ form.email.label_tag }}
        {{ form.email }}
    </div>
    <div class="col-md-4 form-group">
        {{ form.website.label_tag }}
        {{ form.website }}
    </div>
</div>
<div class="row">
    <div class="col-md-12 form-group">
        {{ form.content.label_tag }}
        {{ form.content }}
    </div>
</div>
{{ form.parent }}


