<div id="respond">
    <h2 class="respond-title">Leave a comment</h2>
    <span class="form-caution">Make sure you enter the (*) required information where indicated. HTML code is not allowed.</span>
    <form action="" method="post">
        {{ form.non_field_errors }}
        {% csrf_token %}
        {{ form }}
        {#        <div class="row">#}
        {#            <div class="col-md-4">#}
        {#                <label for="{{ form.name.id_for_label }}">Imię<span class="required">*</span></label>#}
        {#                {{ form.name }}#}
        {#            </div>#}
        {#            <div class="col-md-4">#}
        {#                <label for="{{ form.email.id_for_label }}">Email<span class="required">*</span></label>#}
        {#                {{ form.email }}#}
        {#            </div>#}
        {#            <div class="col-md-4">#}
        {#                <label for="{{ form.website.id_for_label }}">Strona WWW</label>#}
        {#                {{ form.website }}#}
        {#            </div>#}
        {#        </div>#}
        {#        <div class="row">#}
        {#            <div class="col-md-12">#}
        {#                <label for="{{ form.text.id_for_label }}">Komentarz</label>#}
        {#                {{ form.text }}#}
        <input name="submit" type="submit" id="submit" class="btn btn-primary" value="Submit Comment">
        {#            </div>#}
        {#        </div>#}
    </form>

</div>