{% extends "blog/base.html" %}
{% block content %}

    <!-- Start Blog post -->
    <div class="single-blog-post">
        <div class="post-img">
            <img src="{{ post.image.url }}" class="img-responsive" alt="Blog image">
        </div>
        <h1 class="post-title">{{ post.title }}</h1>

        <div class="post-meta">
            <ul class=" pull-left">
                <li><i class="fa fa-clock-o"></i>{{ post.modified }}</li>
                <li><i class="fa fa-user"></i><a
                        href="{% url 'posts_by_author' post.author.username %}">{{ post.author }}</a></li>
                <li><i class="fa fa-file"></i><a href="#">Blog</a></li>
                <li><i class="fa fa-tags"></i>
                    {% for tag in post.tags.all %}
                        <a href="{% url 'posts_by_tag' tag %}">{{ tag }}</a>
                    {% endfor %}</li>
                <li><i class="fa fa-comments"></i><a href="#">4 Comments</a></li>
            </ul>
            <ul class="pull-right">
                <li>font-size<i class="fa fa-minus-circle"></i><i class="fa fa-plus-circle"></i></li>
                <li><a href="#">Print</a></li>
                <li><a href="#">Email</a></li>
            </ul>
        </div>

        <p class="post-content">{{ post.content }}</p>

        <div class="item-content-footer">
            <ul>
                <li>Read 286 times</li>
                <li class="rating">
                    Rate this item
                    <span class="active"><i class="fa fa-star-o"></i></span>
                    <span class="active"><i class="fa fa-star-o"></i></span>
                    <span class="active"><i class="fa fa-star-o"></i></span>
                    <span><i class="fa fa-star-o"></i></span>
                    <span><i class="fa fa-star-o"></i></span>
                </li>
            </ul>
        </div>

    </div>
    <!-- End Blog Post -->


    <!-- Start Blog Author Section -->
    <div class="blog-author">
        <h3>O autorze</h3>
        <div class="media">
            <div class="media-left">
                <a href="{% url 'posts_by_author' post.author.username %}">
                    <img class="media-object" src="{{ post.author.avatar.url }}" alt="...">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading"><a
                        href="{% url 'posts_by_author' post.author.username %}">{{ post.author }}</a></h4>

                <p>{{ post.author.about }}</p>
            </div>
        </div>
    </div>
    <!-- End Blog Author Section -->

    <!-- Start Comments Section -->
    <div id="comments">
        {% load pluralize_pl %}
        <h2 class="comments-title">{{ post.comments.count }} {{ post.comments.count|pluralize_pl:"komentarz,komentarzy,komentarze" }}</h2>
        {% if post.comments.all %}
            <ol class="comments-list">
                {% for comment in post.comments.all %}
                    <li>
                        <div class="comment-box clearfix">
                            <div class="avatar"><img alt="" src="images/user-2.png"></div>
                            <div class="comment-content">
                                <div class="comment-meta">
                                    <span class="comment-by">{{ comment.name }}</span>
                                    <span class="reply-link pull-right"><a href="#">Comment Link</a></span>
                                </div>
                                <span class="comment-date">{{ comment.created }}</span>
                                <p>{{ comment.content }}</p>
                            </div>
                        </div>
                        {% if comment.replies.all %}
                            <ul>
                                {% for reply in comment.replies.all %}
                                    <li>
                                        <div class="comment-box clearfix">
                                            <div class="avatar"><img alt="" src="asset/images/user-2.png"></div>
                                            <div class="comment-content">
                                                <div class="comment-meta">
                                                    <span class="comment-by">{{ reply.name }}</span>
                                                    <span class="reply-link pull-right"><a
                                                            href="#">Comment Link</a></span>
                                                </div>
                                                <span class="comment-date">{{ reply.created }}</span>
                                                <p>{{ reply.content }}</p>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}

            </ol>
        {% endif %}

        <!-- Start Respond Form -->
        <div id="respond">
            <h2 class="respond-title">Leave a comment</h2>
            <span class="form-caution">Make sure you enter the (*) required information where indicated. HTML code is not allowed.</span>
            <form action="#">
                <div class="row">
                    <div class="col-md-4">
                        <label for="author">Name<span class="required">*</span></label>
                        <input id="author" name="author" type="text" size="30" aria-required="true">
                    </div>
                    <div class="col-md-4">
                        <label for="email">Email<span class="required">*</span></label>
                        <input id="email" name="author" type="text" size="30" aria-required="true">
                    </div>
                    <div class="col-md-4">
                        <label for="url">Website<span class="required">*</span></label>
                        <input id="url" name="url" type="text" size="30" aria-required="true">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="comment">Add Your Comment</label>
                        <textarea id="comment" name="comment" cols="45" rows="8" aria-required="true"></textarea>
                        <input name="submit" type="submit" id="submit" class="btn btn-primary" value="Submit Comment">
                    </div>
                </div>
            </form>
        </div>
        <!-- End Respond Form -->

    </div>
    <!-- End Comments Section -->
{% endblock %}

