{% load sidebar %}
<div class="widget widget-recent-post">

    <div class="section-heading-2">
        <h3 class="section-title">
            <span>Najnowsze wpisy</span>
        </h3>
    </div>
    {% recent_posts %}
</div>
<!-- End Recent Post Widget -->


<!-- Start Blog categories widget -->
<div class="widget widget-categories">
    <div class="section-heading-2">
        <h3 class="section-title">
            <span>Kategorie wpisów</span>
        </h3>
    </div>
    {% category_list %}
</div>
<!-- End Blog categories widget -->

<!-- Start Tag Cloud Widget -->
<div class="widget widget-tags">
    {% include 'blog/tagcloud.html' %}
</div>
<!-- End Tag Cloud Widget -->
